root {
  display: block;
}

.user_trend_wrapper {
  clear: none;
}

table.user_trend_wrapper th, table.user_trend_wrapper td {
  width: 50%;
  padding-left: 100px;
}

/******************************* For Yearly Trend ************************** */
#user-trend-yearly-trend-form #edit-sel-from-year {
  float: left;
}

#user-trend-yearly-trend-form #edit-sel-from-year,
#user-trend-yearly-trend-form #edit-sel-to-year {
  width: 100px;
}

#user-trend-yearly-trend-form #edit-submit {
  margin-top: 30px;
  margin-left: 30px;
}

/******************************* For Quarterly Trend *********************** */
#user-trend-quarterly-trend-form #edit-sel-year {
  float: left;
}

#user-trend-quarterly-trend-form #edit-submit {
  margin-top: 30px;
  margin-left: 30px;
}

/******************************* For Monthly Trend ************************* */
.form-item-sel-from-month, .form-item-sel-to-month {
  float: left;
}

#user-trend-monthly-trend-form #edit-sel-from-year {
  margin-top: 23px;
  margin-left: -108px;
}

#user-trend-monthly-trend-form #edit-sel-to-year {
  margin-top: 23px;
  margin-left: -90px;
}

#user-trend-monthly-trend-form #edit-sel-from-month,
#user-trend-monthly-trend-form #edit-sel-to-month {
  width: 60px;
}

#user-trend-monthly-trend-form #edit-submit {
  margin-top: 30px;
  margin-left: 30px;
}

#user-trend-monthly-trend-form #edit-sel-from-month,
#user-trend-monthly-trend-form #edit-sel-to-month {
  margin-top: 3px;
}

/******************************* For Weekly Trend ************************** */
.form-item-sel-from-week, .form-item-sel-to-week {
  float: left;
}

#user-trend-weekly-trend-form #edit-sel-to-month {
  margin-left: 17px;
}

#user-trend-weekly-trend-form #edit-sel-from-year {
  margin-top: 23px;
  margin-left: -95px;
}

#user-trend-weekly-trend-form #edit-sel-to-year {
  margin-top: 23px;
  margin-left: -78px;
}

#user-trend-weekly-trend-form #edit-sel-from-month,
#user-trend-weekly-trend-form #edit-sel-to-month {
  width: 60px;
  margin-top: 3px;
}

#user-trend-weekly-trend-form #edit-submit {
  margin-top: 30px;
  margin-left: 30px;
}

#user-trend-weekly-trend-form .form-item-sel-from-month,
#user-trend-weekly-trend-form .form-item-sel-to-month {
  margin-top: 20px;
  margin-left: -160px;
}

#user-trend-weekly-trend-form #edit-sel-from-week,
#user-trend-weekly-trend-form #edit-sel-to-week {
  margin-top: 3px;
}

/******************************* For Daily Trend *************************** */
.form-item-sel-from-day, .form-item-sel-to-day {
  float: left;
}

#user-trend-daily-trend-form #edit-sel-to-month {
  margin-left: 17px;
}

#user-trend-daily-trend-form #edit-sel-from-year {
  margin-top: 23px;
  margin-left: -95px;
}

#user-trend-daily-trend-form #edit-sel-to-year {
  margin-top: 23px;
  margin-left: -78px;
}

#user-trend-daily-trend-form #edit-sel-from-month,
#user-trend-daily-trend-form #edit-sel-to-month {
  width: 60px;
}

#user-trend-daily-trend-form #edit-submit {
  margin-top: 30px;
  margin-left: 30px;
}

#user-trend-daily-trend-form .form-item-sel-from-month,
#user-trend-daily-trend-form .form-item-sel-to-month {
  margin-top: 20px;
  margin-left: -175px;
}

#user-trend-daily-trend-form #edit-sel-from-month,
#user-trend-daily-trend-form #edit-sel-to-month,
#user-trend-daily-trend-form #edit-sel-from-day,
#user-trend-daily-trend-form #edit-sel-to-day {
  margin-top: 3px;
}